
        <%- include head.ejs %>
 
 
   
                    <% for(aa of articles){%>
                        <div class="col-md-6 col-sm-12">
                            <div class="card">
                                <div class="card-content">
                                    <img class="card-img-top img-fluid" src="https://www.teahub.io/photos/full/112-1123819_beautiful-anime-girl-mai-sakurajima-wallpaper-beautiful-anime.jpg"
                                        alt="Card image cap" style="height: 20rem" />
                                    <div class="card-body">
                                        <h4 class="card-title"><%= aa.name %></h4>
                                            <p class="card-text"><%= aa.date %></p>
                                <% if(login){ %>
                                    <a  class="btn btn-warning block" href="/del/<%= aa.name %>" class="card-link">delete</a>
                                <% } %>
                                <a href="<%= aa.url %>"><button class="btn btn-primary block">Read More</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                   
                    <% } %>
               
                <div class="col-md-4">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <% for(i of shortcuts){ %>
                                <li class="list-group-item">
                                    <a href="<%= i.href %>"><%= i.text %></a>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <%- include foot.ejs %>
